.userinput {
  padding: 5px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin:2px;
  min-height: 35px;
}

.square {
  width:35px;
  height: 35px;
}

.userinput:focus{
  border: 2px solid #0c8;
}

textarea {
  width: 96%
}

.green {
  background-color: #0f5;
  border: 1px solid #00b035;
}

.red {
  background-color: #f00;
  border: 1px solid #d00;
}

.blue {
  background-color: #5cf;
  border: 1px solid #00d;
}

.grey {
  background-color: #bbb;
  border: 1px solid #555;
}

.heading {
  font-weight: bold;
}

.overruled {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-radius: 30px 0px 0px 30px
}

.indent {
  padding-left: 20px;
}

button {
  height: 30px;
  min-width: 30px;
}

.level0 {
  background-color: #d0e0ff;
}

.level1 {
  background-color: #e0e0f5;
}

.level2 {
  background-color: #f5e0e0;
}

.level3 {
  background-color: #ffe0d0;
}

.level4 {
  background-color: #ffe0c0;
}
