body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.userinput {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin:2px;
}

.square {
  width:35px;
  height: 35px;
}

.userinput:focus{
  border: 2px solid #0c8;
}

textarea {
  width: 96%
}

.green {
  background-color: #0f5;
  border: 1px solid #00b035;
}

.red {
  background-color: #f00;
  border: 1px solid #d00;
}

.blue {
  background-color: #5cf;
  border: 1px solid #00d;
}

.grey {
  background-color: #bbb;
  border: 1px solid #555;
}

.heading {
  font-weight: bold;
}

.overruled {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-radius: 30px 0px 0px 30px
}

.indent {
  padding-left: 20px;
}

.control-button {
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin:2px;
  height: 20px;
  min-width: 20px;
  max-width: 35px;
}

.target-button {
  font-size: 12px;
  border-radius: 8px;
  border: 2px solid #bbb;
  margin: 2px;
  height: 35px;
  width: 45px;
}

.toggle-button {
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  height: 2em;
  margin-top: 2px;
}

.level0 {
  background-color: #d0e0ff;
}

.level1 {
  background-color: #e0e0f5;
}

.level2 {
  background-color: #f5e0e0;
}

.level3 {
  background-color: #ffe0d0;
}

.level4 {
  background-color: #ffe0c0;
}

.target-on {
  border: 5px solid #ff0000;
}

.target-off {
}

.leaf-text {
  font-size: 14px;
}

.meta-text {
  font-size: 20px;
}

.computed-box {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin: 2px;
}

.show-arrow {
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #afefff;
  margin:2px;
  height: 19px;
  width: 19px;
}

.check-box {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.doc-listing a {
  text-decoration: none
}

.doc-listing  {
  border-bottom: solid 1px black;
  padding: 10px;
  margin: 0px 20px 0 20px;
}

.doc-listing .title {
  font-size: 18px;
  vertical-align: baseline;
  max-height: 40px;
  margin-right: 20px;
  color: #111;
}

.doc-listing .compiled-text {
  font-size: 10px;
  vertical-align: baseline;
  max-height: 40px;
  color: #444;
  overflow: hidden;
}
